Repository vvscode/otus-js-hw07-weather: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{html, css, js, yml}": "prettier --write"
}

Added css-loader and style-loader for webpack for importing css to build. Main css file renamed to styles.css
  package-lock.json
  package.json
  src/index.html
  src/index.js
  src/styles.css
  webpack.config.js
Due: eslint --fix, prettier --write

export *.png files to build and show stub map at main page
  src/runApp.js
  webpack.config.js
Due: eslint --fix

test fetch
  src/runApp.js
Due: eslint --fix

solved stylesheet MC
  src/index.html
Due: prettier --write

added geolocation module
  src/js/geolocation.js
Due: eslint --fix

added weatherApi module
  src/js/weatherApi.js
Due: eslint --fix

runApp module refactored and moved to js package
  src/index.js
  src/js/runApp.js
  src/runApp.js
Due: eslint --fix

Testing fetch navigation and get weather for nav coordinates
  src/js/geolocation.js
  src/js/runApp.js
Due: eslint --fix

fetch by url function moved to own js-file
  src/js/fetchUrl.js
  src/js/weatherApi.js
Due: eslint --fix

improved hasCoords function for NavApi
  src/js/geolocation.js
Due: eslint --fix

Заготовка модуля запроса изображения в Google Maps Static API
  src/js/mapsStaticApi.js
Due: eslint --fix

import and using of stub map source moved to mapsStaticApi
  src/js/mapsStaticApi.js
  src/js/runApp.js
Due: eslint --fix

Swapped longitude and latitude
  src/js/geolocation.js
Due: eslint --fix

changed maps static API source
  src/js/mapsStaticApi.js
Due: eslint --fix

markup by grid
  src/js/runApp.js
  src/styles.css
Due: eslint --fix

get coordinates from weather object
  src/js/weatherApi.js
Due: eslint --fix

added timeout to fetch function
  src/js/fetchUrl.js
Due: eslint --fix

little fixes
  src/js/geolocation.js
  src/styles.css
Due: eslint --fix

added search button realization
  src/js/runApp.js
Due: eslint --fix

auto-replacing '-' symbols at city name for weather API request
  src/js/runApp.js
Due: eslint --fix

created images directory
  src/images/map.png
  src/js/runApp.js
Due: eslint --fix

styles moved to css directory
  src/css/styles.css
  src/index.html
  src/index.js
Due: eslint --fix, prettier --write

Fix city history column width
  src/css/styles.css
Due: none

City search history (until page loaded)
  src/js/runApp.js
Due: eslint --fix

Using of local storage for city search history
  src/js/cityStorage.js
  src/js/runApp.js
Due: eslint --fix

Minor corrections
  src/js/cityStorage.js
  src/js/fetchUrl.js
  src/js/mapsStaticApi.js
  src/js/runApp.js
  src/js/weatherApi.js
Due: eslint --fix

Simplier names, less lines
  src/js/runApp.js
Due: eslint --fix

no script, no GET error
  src/index.html
Due: prettier --write

Fix removing of history element when city changed
  src/js/runApp.js
Due: eslint --fix

City history functions converted to class. Removed import from runApp.js
  src/js/cityStorage.js
  src/js/runApp.js
Due: eslint --fix

test for cityStorage.js
  src/js/cityStorage.js
  src/js/cityStorage.test.js
  src/js/runApp.js
Due: eslint --fix

run test with coverage
  package.json
Due: none

not working loaders for show default map
  webpack.config.js
Due: eslint --fix

ignore coverage directory
  .gitignore
Due: none

removed unused files
  src/index.test.js
  src/sum.js
Due: eslint --fix

removed console log
  src/js/cityStorage.test.js
Due: eslint --fix

Geolocation API tests
  src/js/geolocation.js
  src/js/geolocation.test.js
Due: eslint --fix

mapsStaticApi tests
  src/js/mapsStaticApi.js
  src/js/mapsStaticApi.test.js
  src/js/runApp.js
Due: eslint --fix

fetchUrl tests
  src/js/fetchUrl.js
  src/js/fetchUrl.test.js
  src/js/weatherApi.json.js
Due: eslint --fix

Create README.md
  README.md
Due: none
